:root {
    --primary-color: hsl(49, 42%, 67%);
}

h1 {
    margin: 0 !important;
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
}

h2 {
    margin: 0 !important;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}

h4 {
    margin: 0 !important;
    font-size: 2rem;
    color: var(--primary-color);
}


router-link {
    text-decoration: none !important;
}

.btn {
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;

    background-color: var(--primary-color);
    color: white;

    border-radius: 5px;
    box-shadow: none;
    border: none;
    width: fit-content;
    transition: 0.2s ease-in-out;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.nav-item {
    background: transparent !important;
    border: none !important;
    font-size: 18px;
    color: white;
    transition: .5s ease-out;
}

.nav-item:hover {
    border-bottom: .5px solid var(--primary-color) !important;
    color: var(--primary-color);

}

input, textarea {
    width: 100%;
    font-size: 18px;
}

textarea {
    resize: vertical;
    max-height: 400px; min-height: 100px;
}

s {
    font-size: small !important;
    color: gray
}

.no-text-deco {
    text-decoration: none !important ;
}

.white {
    color: white
}

.nav-bar-container {
    width: 100%;
    /* position: absolute; */
    position: fixed;
    /* background: rgba(0, 0, 0, 0.513); */
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.nav-bar {
    position: relative;

    padding: 1.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.right {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}